@import "variables";
@import "footer";

html{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  max-width:1240px;
  margin:0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.main-header{
	background-color:gray;
}
.topheader .container .top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
	color:#fff;
	font-size:1.6em;
	font-weight:400;
	font-family:Arial,sans-serif;
	padding:10px 0;
  height: 80px;

}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	font-size:14px;
	text-transform:uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:600;
}
ul.menu{
   li{
      padding:0 10px;
   }
}
ul.sub-menu{
  display:flex;
  flex-direction:column;
  position: absolute;
  background-color: white;
  padding: 10px;
  transform: translateX(-20px);
  display:none;
  padding: 10px 0;
      li{
        padding:10px;
          &:hover{
            background-color: #28bfba;
          }
      }
}
li.menu-item-has-children:hover ul.sub-menu{
   display:block;
}

.burger{
  display:none;
}

img.logo{
  height:43px;
}
i.fa {
  color: #EFC62C;
	font-size:18px;
}
img.top-social{
  height:30px;
  margin-left:8px;
}
.lang{
  display:flex;
      &:hover{
        color:$secondary;
      }
    img{
    height:15px;
    margin-left:15px;
    margin-right:5px;
    padding-top: 2px;
    }
}
.top-sub-item{
  margin-left:15px;
  line-height:25px;
      &:hover{
        color:$secondary;
      }
}
.top-sub-item.number{
  font-weight: 700;
}
button.primary{
  background-color: #28bfba;
  padding:5px 19px;
  border-radius:3px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 700;
  border: none;
  color:white;
      &:hover{
        background-color: #fff;
        color:#000;
      }
}

.midheader{
  background-color: #fff;
  align-items:center;
      .row{
          justify-content: space-between;
      }
}

@import "media";